
 #form1{
    width: 50%;
    padding-left: 100px;
    padding-right: 500px;
    padding-top: 50px;
    margin-left: 350px;
    
}
#butn1{
    float: right;
} 
#butn{
 margin-left: 500px;
 margin-top: 50px;
}